* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tektur", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    background: var(--ui-bg-panel);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.text-secondary {
    color: var(--text-secondary);
}

.text-muted {
    color: var(--text-muted);
}
