header {
    width: 100%;
    background-color: var(--mars-soil);
    padding: 1rem 2rem;
    border-bottom: 6px solid var(--mars-rust);
    border-left: 2px solid var(--mars-rust);
    border-right: 2px solid var(--mars-rust);
    border-radius: 0 0 12px 12px;
}

.money-counter {
    font-size: 22px;
    font-weight: 700;
    color: var(--mars-text);
}

aside {
    position: fixed;
    bottom: .75rem;
    left: 1rem;
    right: 1rem;
    background: var(--mars-soil);
    border: 3px solid var(--mars-rust);
    border-bottom-width: 6px;
    padding: .5rem 1rem;
    border-radius: 15px;
}

aside .btn-icon {
    border: 2px solid var(--mars-rust);
    border-bottom-width: 3px;
    border-radius: .75rem;
    width: 55px;
}
